.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.pageLayout:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 24px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
.freeBox__sniv9 {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.freeBox__sniv9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__sniv9 > :global(.__wab_flex-container) > *,
.freeBox__sniv9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sniv9 > :global(.__wab_flex-container) > picture > img,
.freeBox__sniv9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sniv9 {
    padding: 24px;
  }
}
.h4__vqxaK {
  position: relative;
  align-self: center;
  width: 100%;
  min-width: 0;
}
.freeBox__le7Md {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__le7Md > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__le7Md > :global(.__wab_flex-container) > *,
.freeBox__le7Md > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__le7Md > :global(.__wab_flex-container) > picture > img,
.freeBox__le7Md
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__le7Md {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__le7Md > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__le7Md > :global(.__wab_flex-container) > *,
  .freeBox__le7Md > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__le7Md > :global(.__wab_flex-container) > picture > img,
  .freeBox__le7Md
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.metricCard__xbpmm:global(.__wab_instance) {
  position: relative;
}
.metricCard__aSYpR:global(.__wab_instance) {
  position: relative;
}
.metricCard__zeS1:global(.__wab_instance) {
  position: relative;
}
.freeBox__d9Aeu {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__d9Aeu > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__d9Aeu > :global(.__wab_flex-container) > *,
.freeBox__d9Aeu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d9Aeu > :global(.__wab_flex-container) > picture > img,
.freeBox__d9Aeu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__d9Aeu {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__d9Aeu > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__d9Aeu > :global(.__wab_flex-container) > *,
  .freeBox__d9Aeu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__d9Aeu > :global(.__wab_flex-container) > picture > img,
  .freeBox__d9Aeu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__cYuWc {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--token-ZYBzsVs0n3Mu);
  position: relative;
  min-width: 0;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid var(--token-8IKhJ-XvKFas);
}
.freeBox__cYuWc > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__cYuWc > :global(.__wab_flex-container) > *,
.freeBox__cYuWc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cYuWc > :global(.__wab_flex-container) > picture > img,
.freeBox__cYuWc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 8px;
}
.h4__fr7I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  min-width: 0;
}
.p__bQsVa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  color: var(--token-BLElt7nJnAxT);
  min-width: 0;
}
.freeBox__z67N4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--token-ZYBzsVs0n3Mu);
  position: relative;
  min-width: 0;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid var(--token-8IKhJ-XvKFas);
}
.freeBox__z67N4 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__z67N4 > :global(.__wab_flex-container) > *,
.freeBox__z67N4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z67N4 > :global(.__wab_flex-container) > picture > img,
.freeBox__z67N4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 8px;
}
.h4__jqjno {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  min-width: 0;
}
.p__wijCz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  color: var(--token-BLElt7nJnAxT);
  min-width: 0;
}
.chart__ahNm3:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox__xw1Zt {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--token-ZYBzsVs0n3Mu);
  position: relative;
  min-width: 0;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid var(--token-8IKhJ-XvKFas);
}
.freeBox__xw1Zt > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__xw1Zt > :global(.__wab_flex-container) > *,
.freeBox__xw1Zt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xw1Zt > :global(.__wab_flex-container) > picture > img,
.freeBox__xw1Zt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 8px;
}
.freeBox___9T6Q {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: row;
}
.freeBox___9T6Q > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9T6Q {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9T6Q > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9T6Q > :global(.__wab_flex-container) > *,
  .freeBox___9T6Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___9T6Q > :global(.__wab_flex-container) > picture > img,
  .freeBox___9T6Q
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__gegqr {
  display: flex;
  flex-direction: column;
}
.freeBox__gegqr > :global(.__wab_flex-container) {
  flex-direction: column;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gegqr > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gegqr > :global(.__wab_flex-container) > *,
  .freeBox__gegqr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__gegqr > :global(.__wab_flex-container) > picture > img,
  .freeBox__gegqr
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.h4__nynFd {
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 0px;
  min-width: 0;
}
.p__sLhl7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  color: var(--token-BLElt7nJnAxT);
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.positions:global(.__wab_instance) {
  object-fit: cover;
}
